body {
font-size: 16px;
color: #000;

}
/** HEADER **/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}
.navbar-brand h1{
  color: #000;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
  margin-left: 15px;
}
.navbar-brand a:hover, .navbar-brand a:focus{
  text-decoration: none;  
}

.row {
margin-bottom: 15px;
}
.row > div {
background-color: grey;
margin-left: 20px;
margin-bottom: 20px;
padding-right: 0px;
}
.title1 {
margin: 0 auto;
display: table;
background-color: #d59898;
border: 2px solid black;
padding-left: 20px;
padding-right: 20px;
font-weight: bold;
text-align: justify;
}

.menu{
text-align: center;
font-weight: bold;
} 
.menu-item{
  margin-bottom: 20px;
  background:#999999;  
  padding: 10px;
}